<!DOCTYPE html>
<html>
<head>
    <title>
        {% block title %}
            Forms
        {% endblock title %}
    </title>
</head>
<body>
    {% block user_info %}
        <div>
            {% if request.user.is_anonymous %}
                <p><a href="{% url 'accounts:login' %}">Login</a></p>
            {% else %}
                <p>Logged in as {{ request.user.get_username }}. <a href="{% url 'accounts:logout' %}">Logout</a></p>
            {% endif %}
        </div>
    {% endblock user_info %}

    {% block navigation %}
        <p><a href=" {% url "polls:index" %} ">Home</a></p>
    {% endblock navigation %}

    {% block body %}

    {% endblock body %}
</body>
</html>